<section id="main-content" ng-controller="costeosCtrl">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-file-text-o"></i> Costeo </h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="../../index.html">Home</a></li>
                    <li><i class="icon_document_alt"></i>Costeos</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <div >
                        <div class="col-sm-2"><!--<label class="control-label" for="nombre">Nombre:</label>--><input bled  type="text" class="form-control" ng-model="costeoFiltro.nombre" id="nombre" placeholder="Digite un nombre"> </div>
                        <div class="col-sm-2"><!--<label class="control-label" for="requerimiento">Requerimiento:</label>--><input bled type="text" class="form-control" ng-model="costeoFiltro.requerimiento" id="requerimiento" placeholder="Digite un requerimiento"> </div>
                        <div class="col-sm-3"><label class="control-label" for="ProcesoId">Proceso:</label>
                            <select name="ProcesoId" ng-model="costeoFiltro.ProcesoId" ng-options="proceso.id as proceso.nombre for proceso in procesos"></select></div>
                        <div class="col-sm-3"><label class="control-label" for="ClienteId">Cliente:</label>
                            <select name="ClienteId" ng-model="costeoFiltro.ClienteId" ng-options="cliente.id as cliente.nombre for cliente in clientes"></select></div>
                        <button type="button"  class="btn btn-default" ng-click="filtraCosteos()">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                      Costeo Elementos
                    </header>
                    <div class="panel-body">
                        <div >
                           <div class="table-responsive" >
                             <table class="table">
                                 <thead>
                                     <tr><th>Requerimiento</th>
                                         <th>Cliente</th>
                                         <th>Nombre</th>
                                         <th>Proceso</th>
                                         <th>Fecha</th>
                                         <th><span ng-class='text-success' ><i class="icon-edit-l" ></i></span></th>
                                         <th><a ng-click="addCosteo()" ><span ng-class='text-success'><i class="icon_plus" ></i></span></a></th>
                                     </tr>
                                 </thead>
                               <tbody>
                                 <tr ng-repeat="costeo in costeos">
                                     <td>{{costeo.requerimiento}}</td>
                                     <td>{{costeo.Cliente.nombre}}</td>
                                     <td>{{costeo.nombre}}</td>
                                     <td>{{costeo.Proceso.nombre}}</td>
                                     <td>{{costeo.updatedAt}}</td>
                                     <td><a ng-click="editCosteo(costeo)" ><span ng-class="text-success" ><i class="icon-edit-l" ></i></span></a></td>
                                     <td><a ng-click="addCosteo()" ><span ng-class='text-success'><i class="icon_plus" ></i></span></a></td>
                                 </tr>
                               </tbody>
                             </table>
                           </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
