<div class="row">
  <div class="col-lg-8">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Categorias"></rd-widget-header>
      <rd-widget-body classes="large no-padding">
        <div class="table-responsive" data-ng-controller="CategoriasCtrl">
          <table class="table">
              <thead>
                  <tr><th></th><th class="text-center">ID</th><th>Categoria</th><th>Descripcion</th><th><span ng-class='text-success' ><i class="glyphicon glyphicon-edit" ></i></span></th><th><a ng-href="#/categorias/edit" ng-click="addCategoria()" ><span ng-class='text-success'><i class="glyphicon glyphicon-plus" ></i></span></a></th>
                  </tr>
              </thead>
            <tbody>
              <!--<tr ng-repeat="categoria in categorias"><td><span ng-class="{'text-success':categoria.estado == 'N'}"><i class="fa fa-flag"></i></span></td><td>{{categoria.id}}</td><td>{{categoria.nombre}}</td><td>{{categoria.descripcion}}</td><td><button type="button" class="btn btn-default" ng-click="editCategoria(categoria)" ><span ng-class="{'text-success':categoria.estado == 'N'}" ><i class="glyphicon glyphicon-edit" ><</i></span></button></td></tr>-->
              <tr ng-repeat="categoria in categorias">
                  <td><span ng-class="{'text-success':categoria.estado == 'N'}"><i class="fa fa-flag"></i></span></td>
                  <td>{{categoria.id}}</td>
                  <td>{{categoria.nombre}}</td>
                  <td>{{categoria.descripcion}}</td>
                  <td><a ng-href="#/categorias/edit" ng-click="editCategoria(categoria)" ><span ng-class="{'text-success':categoria.estado == 'N'}" ><i class="glyphicon glyphicon-edit" ></i></span></a></td>
                  <td><a ng-href="#/categorias/edit" ng-click="addCategoria()" ><span ng-class='text-success'><i class="glyphicon glyphicon-plus" ></i></span></a></td>
                  <td><a ng-click="delCategoria($event,categoria)" ><span ><i class="glyphicon glyphicon-minus" ></i></span></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
      <!--<rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
    </rd-widget-footer>-->
    </rd-widget>
  </div>
</div>
